ul{
    list-style: none;
}

.search_result_pic{
    width: 100%;
    transition: transform 450ms;
}

.search_result_list{
    align-items: center;
}

.search_result_title{
    position: relative;
    bottom: 7.5%;
    color: #D01110;
    font-weight: bold;
    transition: transform 450ms;
}

.search_result_title:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.search_result_overview{
    width: 80%;
}

.search_result_pic:hover{
    transform: scale(1.08);
}

.btn{
    background-color: #D01110;
    color: white;
}

.btn:hover{
    color: #cc3333;
    border-color: #D01110;
}

.movie_conteiner{
    padding: 2%;
    background-color: #0A0A00;
    height: 450px;
    border-color: #FF0000;
    border-width: 2px;
    border-style:solid;
}

.movie_inner{
    border-color: #D01110;
    border-radius: 2px;
    border-width: 2px;
}

html{
    background-color: #1e1e19;
}

body::before{
    display: block;
    content: '';
    background-color: #1e1e19;
}

.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.watch-btn{
    background-color: #D01110;
    color: white;
}